<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sass-Tut</title>
    <link rel="stylesheet" href="main.css"> <!-- We include a link to the css file here. All sass code is going to compile to main.css so we href=main.css not main.scss -->
  </head>
  <body>

<!-- Making a sample menu with list of our pages -->
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>

    <img src="https://c1.staticflickr.com/3/2104/2336996225_3f6ef31ed4.jpg" alt="Sailor Moon" />
    <p>Sailor Moon</p>

  </body>
</html>
